---
import Header from "@components/Header.astro";
import RootLayout from "@layouts/RootLayout.astro";
---

<RootLayout title="Welcome to Astro.">
  <Header />
  <main>
    <button class="btn">
      <a href="/user" class="text-2xl"> Go to user page</a>
    </button>
  </main>
</RootLayout>
